@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* VARIÁVEIS CSS */
:root{
    --cor0:#474645;
    --cor1:#F17A35;
    --cor2:#FFFFFF;
    --cor3:#000000;
    --cor4:#0C4907;
    --cor5:#e0b39873;
    --cor6:#474644;
    --cor7:#FBBC9A;
    --cor8:#FDDBC9;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-logo: 'bagel-fat-one', cursive;
}

/* RESET GERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/*Cabeçalho*/
header{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor0);
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 70px;
    height: auto;
    margin-top: 15px;
    border-radius: 50px;
    padding: 0 20px;
}
header > a > span{
    font-family: var(--fonte-logo);
    color: var(--cor1);
}
header > a{
    font-size: 20px;
    font-family: var(--fonte-padrao);
    color: var(--cor2);
    text-decoration: none;
    padding: 20px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
nav > a{
    font-size: 20px;
    font-family: var(--fonte-padrao);
    color: var(--cor2);
    text-decoration: none;
    padding: 10px;
}
nav > a:hover {    
    color: var(--cor1);
    border-radius: 5px;
}
.btcontato > a{
    font-size: 20px;
    font-family: var(--fonte-padrao);
    color: var(--cor3);
    background-color: var(--cor2);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    font-weight: bold;
}
.btcontato a:hover{
    color: var(--cor1);
}

/*seção 1*/
h1{
    text-align: center;
    padding: 20px;
    font-size: 2.5em;
    font-family: var(--fonte-padrao);
}


span.destaque{
    color: var(--cor1);
    font-weight: bold;
}
.fotos{
    max-width: 500px;
    width: 100%;
    height: auto;
    padding: 10px;
}


.hero-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#apresentacao p {
    max-width: 410px;    
}

p{
    font-family: var(--fonte-padrao);
    text-align: justify;
    width: 90%; /* Garante margens em telas pequenas */
    padding: 10px;
    line-height: 1.6; /* Aumenta o respiro entre as linhas */
    hyphens: auto;
}

.botao{
    text-align: center;
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 50px;
    width: 200px; 
}

.botao a{
    text-decoration: none;
    color: var(--cor2);
}

div.prova > p{
    text-align: center;
}

div.prova{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
div#icone{
    display: flex;
}

div#icone > div > abbr > img{
    width: 70px;
    height: 70px;
}

div#icone > div{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px var(--cor1);
    border: 1px solid var(--cor1);
    border-radius: 5px;
    margin: 5px;
    height: 60px;
    width: 80px;
}
li{
    line-height: 2em;
    font-family: var(--fonte-padrao);
}
.container{
    position: relative;
    width: 100vw;
    height: 50px;
    background-color: var(--cor1);

}
.div-de-cima{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--cor7);
    background-color: var(--cor6);
    top: 0;
    bottom: 0;
    width: 100%;     
    height: 100%; 
    transform: rotate(1deg);   
}
.div-de-cima p{
    max-width: 100vw;
    margin: 0;
    font-size: 19px;
}

.sobre-texto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: var(--fonte-padrao);
    flex-wrap: wrap;
    height: auto;
    padding: 50px 20px;
}

.sobre-texto p {
    max-width: 600px;
}

.sobre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cor5);
    width: 100%;
    font-size: 1.1em;
    line-height: 1.6; 
    padding-top: 80px;
}
div#icone > div:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: var(--cor2);
}
.meus-projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor5);
    width: 100%;
    font-size: 1.1em;
    line-height: 1.6; 
    
}
.projetos-texto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: var(--fonte-padrao);
    flex-wrap: wrap;
    height: auto;
    padding: 50px;
}
.projetos-texto p{
    width: auto;
    padding-top: 30px;
}




