@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* VARIÁVEIS CSS */
:root{
    --cor0:#474645;
    --cor1:#F17A35;
    --cor2:#FFFFFF;
    --cor3:#000000;
    --cor4:#0C4907;
    --cor5:#e0b39873;
    --cor6:#474644;
    --cor7:#FBBC9A;
    --cor8:#FDDBC9;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-logo: 'bagel-fat-one', cursive;
}

/* RESET GERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  
html {
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}
/*Cabeçalho*/
.nav{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    

    top: 0;
    left: 0;
    z-index: 1000;

    width: 80px;
    height: auto;
    margin: 10px;
    gap: 20px;
    border-left: 4px solid var(--cor1);

    font-family: var(--fonte-padrao);
    font-size: 20px;

    overflow: hidden;
    transition: width 0.3s ease;
}

.nav a{
    padding: 5px;
    color: var(--cor3);
    text-decoration: none;
}
.nav a.ativo {
    font-weight: bold;
    color: var(--cor1);
    transform: scale(1.1);
    padding-left: 8px;
}
.menu-btn{
    margin: 5px;
    background-color: var(--cor1);
    cursor: pointer;
    border: none;
    font-size: 20px;
}
.nav a:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media (max-width: 768px){
    .nav{
        width: 60px;
        overflow: hidden;
        transition: width 0.3s ease;
    }
    .nav.aberto{
        width: 100px;
    }
    .nav a{
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }
    .nav.aberto a{
        opacity: 1;
        pointer-events: all;
    }
    .fotos img{
       width: auto;
       height: auto; 
    }
        
}
@media (min-width: 769px) {
     .nav {
        width: 160px; /* sempre aberto */
    }

    .menu-btn {
        display: none; /* esconde o botão */
    }

    .nav a {
        opacity: 1;
        pointer-events: all;
    }
}
/*seção 1*/
h1{
    text-align: center;
    padding: 50px;
    font-size: 2.5em;
    font-family: var(--fonte-padrao);
}


span.destaque{
    color: var(--cor1);
    font-weight: bold;
}
.fotos{
    background: url(imagens/foto1.png) no-repeat center center;
    background-size: cover;
    max-width: 500px;
    width: 100%;
    height: 500px;
}
.fotos2{
    background: url(imagens/foto2.png) no-repeat center center;
    background-size: cover;
    max-width: 500px;
    width: 100%;
    height: 500px;
}



.hero-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#apresentacao p {
    width: 400px; 
    font-family: var(--fonte-padrao);
    font-size: 18px;   
}

p{
    font-family: var(--fonte-padrao);
    text-align: left;
    width: 90%; 
    padding: 10px;
    line-height: 1.6;
    hyphens: auto;
}

.botao{
    text-align: center;
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
    margin: 30px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid black;
    width: 200px; 
    height: auto;
}

.botao a{
    text-decoration: none;
    color: var(--cor2);
}
.botao:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

div.prova > p{
    text-align: left;
    font-family: var(--fonte-padrao);
    font-size: 18px;
    width: 400px;

}

.prova{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    
}
div#icone{
    display: flex;
    align-items: center;
}

div#icone > div > abbr > img{
    width: 50px;
    height: 50px;
}

div#icone > div{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px var(--cor1);
    border: 1px solid var(--cor1);
    border-radius: 5px;
    margin: 5px;
    height: 60px;
    width: 60px;
}
li{
    line-height: 2em;
    font-family: var(--fonte-padrao);
}
.container{
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    background-color: var(--cor6);
    overflow: hidden;
}
.ticker {
    display: flex;
    white-space: nowrap;
    width: max-content;
    animation: ticker 30s linear infinite;
}

.ticker p{
    font-size: 20px;
    color: var(--cor7);
    padding-right: 50px;
    width: auto;
    
}

@keyframes ticker {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.sobre-texto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: var(--fonte-padrao);
    flex-wrap: wrap;
    height: auto;
    padding: 80px
}
.sobre-texto h2{
    font-size: 40px;
    padding-bottom: 30px;
}

.sobre-texto p {
    max-width: 600px;
}

#sobre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cor5);
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.1em;
    line-height: 1.6; 
    padding-top: 80px
}

div#icone > div:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: var(--cor2);
}
.meus-projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor2);
    width: 100%;
    font-size: 1.1em;
    line-height: 1.6; 
    
}
.projetos-texto h2{
    font-size: 40px;
}

.projetos-texto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: var(--fonte-padrao);
    flex-wrap: wrap;
    height: auto;
    padding: 50px;
}
.projetos-texto p{
    width: auto;
}
.cards-projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 20px;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 30px;
}
.projetos > h3{
    text-align: left;
    padding-left: 25px;
    font-size: 30px;
}
.projetos > h3::after{
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    background-color: var(--cor1);
    margin-top: 3px;
}
.projetos{
    display: flex;
    align-items: end;
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 20px;
    max-width: 1300px;
    flex-wrap: wrap;
    gap: 30px;
}

.projeto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--fonte-padrao);
    text-align: center;
    border: 1px solid var(--cor1);
    border-radius: 10px;
    padding: 15px;
    max-width: 380px;
    height: 500px;
    flex-wrap: wrap;
    gap: 10px;
}
#imagem1{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    background: url('imagens/projeto1.png') no-repeat center center;
    background-size: cover;
}
#imagem2{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    background: url('imagens/em-breve.png') no-repeat center center;
    background-size: cover;
}
#imagem3{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    background: url('imagens/em-breve.png') no-repeat center center;
    background-size: cover;
}
#imagem4{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    background: url('imagens/em-breve.png') no-repeat center center;
    background-size: cover;
}
#imagem5{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    background: url('imagens/em-breve.png') no-repeat center center;
    background-size: cover;
}
#imagem6{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    background: url('imagens/em-breve.png') no-repeat center center;
    background-size: cover;
}

.projects{
    display: flex;
    align-items: end;
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 20px;
    max-width: 1300px;
    flex-wrap: wrap;
    gap: 30px;
}
.projects > h3{
    text-align: left;
    padding-left: 25px;
    font-size: 30px;
}
.projects > h3::after{
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    background-color: var(--cor1);
    margin-top: 3px;
}
.botaomais{
    text-align: center;
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
    color: var(--cor2);
    margin: 30px;
    padding: 10px;
    border-radius: 50px;
    border-color: var(--cor3);
    width: 400px; 
    height: auto;
    font-size: 20px;
}

.botaomais:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.verprojeto a{
    text-align: center;
    font-family: var(--fonte-padrao);
    color: var(--cor1);
    text-decoration: none;
}
.hidden {
  display: none;
}

.visible {
  display: block;
}
.contato{
    height: 600px;
    background-color: var(--cor5);
}
.containe{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--fonte-padrao);
    
}
.containe h2{
    padding-top: 80px;
    padding-bottom: 100px;
    font-size: 40px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
}
.icone{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor1);
    width: 60px;
    height: 60px;
    border-radius: 180px;
    margin-bottom: 10px;
}
.icone img{
    width: 40px;
    height: 40px;
}
.icone:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte-padrao);
    color: var(--cor3);
    width: 220px;
}
.email p{
    text-align: center;
    margin: 10px;
}
.email a{
    text-decoration: none;
    color: var(--cor3);
}
.email:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.telefone{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte-padrao);
    color: var(--cor3);
    width: 220px;
}
.telefone p{
    text-align: center;
    margin: 10px;
}
.telefone a{
    text-decoration: none;
    color: var(--cor3);
}
.telefone:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte-padrao);
    color: var(--cor3);
    width: 220px;
}
.linkedin p{
    text-align: center;
    margin: 10px;
}
.linkedin a{
    text-decoration: none;
    color: var(--cor3);
}
.linkedin:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.github{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte-padrao);
    color: var(--cor3);
    width: 220px;
}
.github p{
    text-align: center;
    margin: 10px;
}
.github a{
    text-decoration: none;
    color: var(--cor3);
}
.github:hover{
    transform: scale(1.1);
    transition: 0.3s;
}


/* EFEITO DE REVELAÇÃO NO SCROLL */
.scroll-oculto {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    visibility: hidden; /* Evita foco em links invisíveis */
}

.scroll-oculto.revelar {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

@media screen and (max-width: 768px) {
    .fotos{
        background: url(imagens/foto1.png) no-repeat center center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }
    .fotos2{
        background: url(imagens/foto2.png) no-repeat center center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }
    .contato{
        height: auto;
        background-color: var(--cor5);
    }
    
}