@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* VARIÁVEIS CSS */
:root{
    --cor0:#474645;
    --cor1:#F17A35;
    --cor2:#FFFFFF;
    --cor3:#000000;
    --cor4:#0C4907;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --font-logo: 'bagel-fat-one', cursive;
}

/* RESET GERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 10px;
}
header{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor0);
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70px;
    margin-top: 15px;
    border-radius: 50px;
    justify-content: space-between;
}
header > a > span{
    font-family: var(--fonte-logo);
    color: var(--cor1);
}
header > a{
    font-size: 20px;
    font-family: var(--fonte-padrao);
    color: var(--cor2);
    text-decoration: none;
    padding: 20px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
nav > a{
    font-size: 20px;
    font-family: var(--fonte-padrao);
    color: var(--cor2);
    text-decoration: none;
    padding: 10px;
}
nav > a:hover {    
    color: var(--cor1);
    border-radius: 5px;
}
.contato > a{
    font-size: 20px;
    font-family: var(--fonte-padrao);
    color: var(--cor3);
    background-color: var(--cor2);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    font-weight: bold;
}
.contato a:hover{
    color: var(--cor1);
}
/*Cabeçalho*/
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    padding: 20px;
    font-size: 2.3em;
    font-family: var(--fonte-padrao);
}
h1 > span{
    font-size: 25px;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

strong{
    color: var(--cor1);
    font-weight: bold;
}
img{
    width: 400px;
    height: 400px;
    padding: 10px;
}
p{
    width: 400px;
    text-align: left;
    padding: 10px;
}
#img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}


