@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* VARIÁVEIS CSS */
:root{
    --cor0:#474645;
    --cor1:#F17A35;
    --cor2:#FFFFFF;
    --cor3:#000000;
    --cor4:#0C4907;
    --cor5:#e0b39873;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --font-logo: 'bagel-fat-one', cursive;
}

/* RESET GERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 10px;
}
/*Cabeçalho*/
header{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor0);
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70px;
    margin-top: 15px;
    border-radius: 50px;
    justify-content: space-between;
}
header > a > span{
    font-family: var(--fonte-logo);
    color: var(--cor1);
}
header > a{
    font-size: 20px;
    font-family: var(--fonte-padrao);
    color: var(--cor2);
    text-decoration: none;
    padding: 20px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
nav > a{
    font-size: 20px;
    font-family: var(--fonte-padrao);
    color: var(--cor2);
    text-decoration: none;
    padding: 10px;
}
nav > a:hover {    
    color: var(--cor1);
    border-radius: 5px;
}
.btcontato > a{
    font-size: 20px;
    font-family: var(--fonte-padrao);
    color: var(--cor3);
    background-color: var(--cor2);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    font-weight: bold;
}
.btcontato a:hover{
    color: var(--cor1);
}

/*seção 1*/
h1{
    text-align: center;
    padding: 20px;
    font-size: 2.5em;
    font-family: var(--fonte-padrao);
}
h1 > span{
    font-size: 25px;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

strong{
    color: var(--cor1);
    font-weight: bold;
}
img{
    width: 400px;
    height: 400px;
    padding: 10px;
}


section > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
div#apresentacao{
    display: flex;
    flex-direction: column;
}

p{
    font-family: var(--fonte-padrao);
    text-align: left;
    width: 400px;
    padding: 10px;
}

div#apresentacao > a{
    text-align: center;
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 50px;
    width: 300px;
    text-decoration: none;
    color: var(--cor2);
}
div#prova{
    width: 400px;
}

div#prova > p{
    text-align: center;
}

div#prova{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
div#icone{
    display: flex;
}

div#icone > div > abbr > img{
    width: 70px;
    height: 70px;
}

div#icone > div{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px #f17a35b7;
    border: 1px solid var(--cor1);
    border-radius: 5px;
    margin: 5px;
    height: 60px;
    width: 60px;
}
li{
    line-height: 2em;
    font-family: var(--fonte-padrao);
}
div#linha{
    background-color: #000000;
    width: 100vw;
    height: 2px;
}

section.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--fonte-padrao);
    flex-wrap: wrap;
    background-color: var(--cor5);
    width: 100vw;
    height: 700px;
}